<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dll_reporteador.Properties.Settings.hospitalConnectionString"
            connectionString="Dsn=hospital;database=hospital;option=0;port=3306;uid=root"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>